<!--
    Authors:
        - Conor Behard Roberts
        - Kate Belson
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Password Reset</title>
  </head>

  {% block content %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'StyleSheet.css'%}">
  
  <style>
    #container {
      color: #fff;
      text-align: center;
      font-size: 17px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 9px;
      margin-top: 9px;
      height: 50%;
    }
  </style>

  <!--Password Reset Confirm-->
  <div id="container" class="container p-5">
    <h2 id="title" class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr />
    <p>Please enter your new password.</p>
    <form method="POST">
      {% csrf_token %} {{ form }}
      <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
  </div>

  {% endblock %}
</html>
