/* 

Written by Kate Belson and Jack Purkiss 

To add to a template, ensure file is in static foler and paste this code

{% load static %}
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}"> 

default colours:
--dark-color: #177442;
--light-color: #BBEBA6;

*/

@import url('https://fonts.googleapis.com/css?family=Quicksand');
:root {
    --dark-color: #177442;
    --light-color: #BBEBA6;
}

*,
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
    background-color: var(--dark-color);
    overflow: visible;
    text-align: left;
    color: #fff;
}

h1 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

hr {
    border: 1px solid #fff;
    width: 100%;
    margin-left: 0;
}

#title {
    color: #fff(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.challenge {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: var(--light-color);
    border: 3px solid;
    border-radius: 10px;
}

.challenge h5 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.challenge a {
    color: var(--dark-color);
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

small {
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}


.challenge #profile-pic {
float: left;
margin-right: 20px;
max-width: 25%;
max-height: 25%;
}

#profile-pic {
    float: left;
    margin-right: 20px;
 }

h4 {
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

#points {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.challenge #chalname {
    color: var(--dark-color);
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.challenge #completeChal {
    color: var(--dark-color);
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}


.challenge #chal-photo{
    max-width: 100%;
    display: block;
}

.challenge #chal-photo {
    height: 75%;

}

.challenges{
    padding-left: 15%;
}

.content-section{
    padding-left: 15%;
}

#crsponse{
    padding-left: 15%;
}

#createChal {
    color: var(--dark-color);
    background-color: var(--light-color);
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 24px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.container-fluid{
    background-color: var(--dark-color);
    border-color: var(--dark-color);
}

.container-fluid #sidebarCollapse{
    background-color: white;
    color: var(--dark-color);
    border-color: var(--light-color);
}
.account-img
{
    padding: 10px 10px 10px 10px;
}

.center {
display: flex;
justify-content: center;
}

.account_page{
        padding: 20px 20px 20px 20px;
}

.profile_button{
        background-color: var(--light-color); /* Green */
        border: none;
        color: #000;
        padding: 10px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}

