<!--
    Authors:
        - Michael Hills
        - Kate Belson
        - Jack Purkiss 
-->
{% extends 'base.html' %}

<!--Author: Kate Belson-->
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
</head>  


{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}

{% block content %}

<!-- Written by Jack Purkiss -->
<div class="container-fluid">        
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <script>
            $(document).ready(function () {

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            
            });
        </script>
    </button>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>

{% load static %}
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}">

<h1 id="title">{{challenge.name}}</h1>

<div>
    {% for response in responses %}
            <div class="challenge">
                <div id="profile-pic"  style="float:left">
                    <img class="rounded-circle account-img" src="{{ response.user.profile.picture.url }}" width="100" height="100"></img>
                </div>
                <p> <a href = "{% url 'userResponses' response.user.id %}">{{response.user.username}}</a></p>

                <img id="chal-photo" src="{{ response.photograph.url }}" alt="image" />
                <br>
                <small>{{response.description}} </small> <br>
                {% include 'like.html' %}
                <small>Comments: </small>
                <small><a href="{% url 'createComments' response.id %}">Add Comment</a></small>
                
                <hr>

                {% if not response.comments.all %}
                    <small>No comments yet</small>

                {%else%}
                <small><a href="{% url 'viewComments' response.id %}">See All Comments</a></small>
                    <div  style= "height: 100px; overflow-y: scroll;" >
            
                        {% for comment in comments %}
                    
                            {% if comment.response == response %}
                    
                            <small> <a  href="{% url 'userResponses' comment.user.id%}">{{comment.user}}</a> {{comment.text}} </small>
                            <br>

                            {% endif %}

                        {% endfor %}

                {% endif %}


            </div>
            </div>
        {% endfor %}
</div>

{% endblock %}


</html>