{% extends 'base.html' %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Homepage</title>  
</head>  


<head>
    <title>Homepage</title>
    

</head>
    



<h1>Home Template</h1>


{% block filter %}

{% include 'sidebar.html' %}

{% endblock %}
{% block content %}

<!--Leafletjs css import-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

<div class="challenges">


    {% csrf_token %}
        
        <div id="displaybox">
            <div id="map"></div>
            <style>
                #map { height: 500px; width: 1000px }
            </style>
            <button id="devModeSwitch">Enable spoof mode</button>
        </div>


    <br>
    <a href="{% url 'createChallenge' %}">Add Challenge</a>
    <hr>
    {% for challenge in challenges %}
        <div class="challenge">
            <p><a href="{% url 'challengeResponses' challenge.id%}">{{challenge.name}} </a><small>{{challenge.created | timesince}} ago</small></p>
            <small><a href="{% url 'createResponse' challenge.id %}">Complete Challenge</a></small><br>
            <small>Points: {{challenge.points}}</small><br>
            <small>{{challenge.description}}</small><br>


                <hr>
        </div>
    {% endfor %}
</div>


<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // this function starts the location watcher
    function startLocator(map, marker=null) {
        if (navigator.geolocation) {
            // watchposition ties a method to every time the user's location changes;
            // here it'll run displayposition, using the getposition return values as the args
            function success (position){
                usermarker.setLatLng([position.coords.latitude, position.coords.longitude]).addTo(map);

                var addedLoc = position.coords.latitude + ", " +
                position.coords.longitude +
                " at " + position.timestamp;

                console.log(addedLoc);

            }

            function error(err) {
                console.warn('ERROR(' + err.code + '): ' + err.message);
            }

            options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 5000
            };
            
            if (marker == null){
                {% load static %}
                // Creating user marker to move it around with location
                var userIcon = L.icon({
                    iconUrl:        "{% static 'images/userMarker.png' %}",
                    iconSize:       [25, 41], // size of the icon
                    iconAnchor:     [12.5, 41], // point of the icon which will correspond to marker's location
                    popupAnchor:    [0, -41], // point from which the popup should open relative to the iconAnchor
                    shadowUrl:      "{% static 'images/userMarkerShadow.png' %}",
                    shadowAnchor:   [7,25],
                    shadowSize:     [25, 25]
                });
                
                var usermarker = L.marker([0,0], {icon: userIcon});
                usermarker.bindPopup("<b>You are here!</b>");
                usermarker.addTo(map);
            } 

            // it'll run success if loc gotten, error, if not.
            // Helpful to return watchID and usermarker if we need to use them
            return [navigator.geolocation.watchPosition(success, error, options), usermarker];
        } else {
            console.log("User has declined geolocation access");
        }
    }

    // This is a framework for location posting to the home server 
    function postPosition(position) {
        var req = new XMLHttpRequest();
        var url = "/";

        req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                alert("200");
            } else if (this.readyState == 4 && this.status != 200) {
                alert("!200");
            }
        };
        
        // Probably add user identification here
        req.open("POST", url);
        req.setRequestHeader('X-CSRFToken', csrftoken)
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        req.send(JSON.stringify(posToObject(position)));
    }

    // This is required to be able to properly strigify the result from geolocation fetching
    function posToObject (position) {
        // there might be more data worth returning but this is probably what's useful to us
        return {
            timestamp: position.timestamp,
            coords: {
                accuracy: position.coords.accuracy,
                latitude: position.coords.latitude,
                longitude: position.coords.longitude,
            }
        }
    }

    // Initializing everything
    window.onload = function(){
        map = mapgen('map');

        // This loop writes the markers for the challenges in JavaScript which are then rendered by the map
        // This works, but after a certain number of locations it stops with a "..." for loop restrictions?
        // This can be extended to add GET requests after clicking on markers, and you can go to the challenge
        // page 
        {% for challenge in challenges %}
        L.marker([ {{challenge.lat}}, {{challenge.long}} ],
        {title: {{'"'}}{{challenge.name|safe}}{{'"'}}, bubblingMouseEvents: true })
        .bindPopup("<b>" + {{'"'}}{{challenge.name|safe}}{{'"'}} + "</b>" +
            "<br>" + {{'"'}}{{challenge.description|safe}}{{'"'}}).addTo(map);
        {% endfor %}

        // Returns the watcher ID and user marker in an array of len 2
        watcher = startLocator(map);

        map.invalidateSize();

        // These are all dev mode loads
        // This shouldn't render in the template when not a gamemaster/superuser
        var button = document.getElementById('devModeSwitch');
        var devModeOn = false;
        button.addEventListener("click", function() {
            if (devModeOn){
                //returning to normal settings
                map.off('click');
                map.removeLayer(watcher[1]);
                watcher = startLocator(map);
                devModeOn = false;
                button.innerHTML = "Enable spoof mode";
            } else {
                // Clearing geolocation watcher
                navigator.geolocation.clearWatch(watcher[0]);

                // Onclick for moving user marker
                map.on('click', function(e){
                    lat = e.latlng.lat;
                    lon = e.latlng.lng;

                    console.log("Lat: "+ lat + ", Lon:"+lon );

                    watcher[1].setLatLng([lat, lon]).addTo(map);

                    devModeOn = true;
                });

                devModeOn = true;
                button.innerHTML = "Disable spoof mode";
            }
        });
    };

    // Probably separate this into another file, with tweaks available for range etc
    function mapgen (divName){
        // map border
        var swest = L.latLng(50.729748, -3.520532),
            neast = L.latLng(50.741780, -3.548116),
            bounds = L.latLngBounds(swest, neast);
    
        var map = L.map(divName)
        
        map.invalidateSize();
        
        map.setView([50.735805, -3.533051], 15);
    
        // mapbox is also a good tileset for this
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            minZoom: 15,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        // This draws a polygon around the playable area
        var areamarker = [
            [ // Exterior Ring
                [90, -180],
                [90, 180],
                [-90, 180],
                [-90, -180]
            ], // Then holes (interior rings)
            [ // No red in this square
                [50.729748, -3.520532],
                [50.729748, -3.548116],
                [50.741780, -3.548116],
                [50.741780, -3.520532]
            ]
        ];
    
        // adding polygon to map
        L.polygon(areamarker, {color: "#ff2600", weight: 2, fillOpacity: 0.1, interactive: false}).addTo(map);
    
        map.setMaxBounds(map.getBounds());
        
        return map;
    }
    
</script>

    
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

   {% endblock %}

</div>
</html>

