<!--
    Authors:
        - Michael Hills
        - Kate Belson
        - Jack Purkiss
-->

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Responses</title>
  </head>

  {% block filter %} {% include 'sidebar.html' %} {% endblock %}
  {% block content %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'StyleSheet.css'%}">

<!-- Written by Jack Purkiss -->
<div class="container-fluid">        
  <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <script>
          $(document).ready(function () {

              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar').toggleClass('active');
              });
          
          });
      </script>
  </button>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function () {
  $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
  });
});
</script>

  <h1 id="title">Your Completed Challenges</h1>
  <h4 id="points">Total Points: {{request.user.profile.points}}</h4>

  <div>
    {% csrf_token %}
    {% for response in responses %}
    <div class="challenge">
      <p>
        <a href="{% url 'challengeResponses' response.challenge.id %}"
          >{{response.challenge.name}}</a>
        | <small>{{response.challenge.points}}</small>
        <a href="{% url 'reportAPost' response.id %}" class="button">Report Post</a>
        <br>
        {%if response.user.id == request.user.id %}
                <a href="{% url 'deletePost' response.id  %}" class="button">Delete Post</a>
                {% endif %}
                <br>
      </p>
      <img id="chal-photo" src="{{ response.photograph.url }}" alt="image" />
        <br>
        <small>{{response.description}}</small> <br> 
      {% include 'like.html' %}
      <hr>
            <div  style= "height: 100px; overflow-y: scroll;" >
            
                {% for comment in response.comments.all %}
                    
                    <small> <a  href="{% url 'userResponses' comment.user.id%}">{{comment.user}}</a> {{comment.text}} </small>
                    <br>

                {% endfor %}

            </div>

    </div>
    {% endfor %}
  </div>

  {% load static %}
    <script src="{% static '/scripts/likes.js' %}"></script>

  {% endblock %}
</html>
