{% extends 'base.html' %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>My Responses</title>  
</head>  

{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}

{% block content %}

<h1>Your Completed Challenges</h1>
<h4>Total Points: {{request.user.profile.points}}</h4>

<div>
    {% for response in responses %}
            <div class="challenge">
                <p><a href="{% url 'challengeResponses' response.challenge.id %}">{{response.challenge.name}}</a> | <small>{{response.challenge.points}}</small></p>
                <small>{{response.description}}</small> <br>
                {% include 'like.html' %}


                <hr>
            </div>
        {% endfor %}
</div>

{% endblock %}


</html>