<!--
    Authors:
        - Michael Hills
        - Kate Belson
        - Jack Purkiss
-->

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Responses</title>
  </head>

  {% block filter %} {% include 'sidebar.html' %} {% endblock %}
  {% block content %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'StyleSheet.css'%}">

  <h1 id="title">Your Completed Challenges</h1>
  <h4 id="points">Total Points: {{request.user.profile.points}}</h4>

  <div>
    {% for response in responses %}
    <div class="challenge">
      <p>
        <a href="{% url 'challengeResponses' response.challenge.id %}"
          >{{response.challenge.name}}</a>
        | <small>{{response.challenge.points}}</small>
      </p>
      <img id="chal-photo" src="{{ response.photograph.url }}" alt="image" />
        <br>
        <small>{{response.description}}</small> <br> 
      {% include 'like.html' %}
      <hr>
            <div  style= "height: 100px; overflow-y: scroll;" >
            
                {% for comment in response.comments.all %}
                    
                    <small> <a  href="{% url 'userResponses' comment.user.id%}">{{comment.user}}</a> {{comment.text}} </small>
                    <br>

                {% endfor %}

            </div>

    </div>
    {% endfor %}
  </div>

  {% endblock %}
</html>
