<!--
    Authors:
        - Michael Hills
        - Kate Belson 
        - Jack Purkiss
        - Tomas Premoli
-->

{% extends 'base.html' %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>My Responses</title>  
</head>  



{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}



{% block content %}



<h1 id="title">Recent Activity</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}">


<div>
    {% csrf_token %}
    
    {% for response in responses %}
        <div class="challenge">
            <div id="profile-pic"  style="float:left">
                <img class="rounded-circle account-img" src="{{ response.user.profile.picture.url }}" width="100" height="100"></img>
            </div>
            <h5><a href="{% url 'challengeResponses' response.challenge.id%}">{{response.challenge.name}}</a> | <small>{{response.challenge.points}}</small></h5>
            <h5></h5><a href="{% url 'userResponses' response.user.id%}">{{response.user.username}}</a></h5><br>
            <a href="{% url 'reportAPost' response.id %}" class="button">Report Post</a><br>
            {%if response.user.id == request.user.id %}
                <a href="{% url 'deletePost' response.id %}" class="button">Delete Post</a>
                {% endif %}
                
            <br>
            <img id="chal-photo" src="{{ response.photograph.url }}" alt="image" />
            <br>
            <small>{{response.description}} </small> <br>
            {% include 'like.html' %}
            <small>Comments: </small><br>
            <small><a href="{% url 'createComments' response.id %}">Add Comment</a></small><br>
            

            <hr>

            {% if not response.comments.all %}
            <small>No comments yet</small>
            {%else%}
            <small><a href="{% url 'viewComments' response.id %}">See All Comments</a></small>

            <div  style= "height: 100px; overflow-y: scroll;" >
            
                {% for comment in comments %}
                    {% if comment.response == response %}
                    
                    <small> <a  href="{% url 'userResponses' comment.user.id%}">{{comment.user}}</a> {{comment.text}} </small>
                    <br>

                    {% endif %}

                {% endfor %}

            </div>

            {% endif %}
        
            
        </div>
    {% endfor %}
</div>

</body>

{% load static %}
<script src="{% static '/scripts/likes.js' %}"></script>

{% endblock %}
</html>