<!--
    Authors:
        - Kate Belson 
        
-->

{% extends 'base.html' %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Reported Posts</title>  
</head>  



{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}



{% block content %}

<h1 id="title">Reported Posts:</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}">


<div>
    {% if reports %}
            
        
        {% for report in reports %}
            
            <div class="challenge">
                
                    
                <small> {{report.user.username}} : {{report.reason}} </small>
                <img id="chal-photo" src="{{ report.post.photograph.url }}" alt="image" />
                <br>
                <small>{{report.post.description}} </small> <br>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="reportID", value="{{report.id}}">
                    <input type="hidden", name="postID", value="{{report.post.id}}">
                    <input type="Submit", value="Delete Post">
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="reportID", value="{{report.id}}">
                    <input type="Submit", value="Ignore">
                </form>

                
                <br>
            
            </div>

        {% endfor %}

   

        {% else %}

                <p>No Users have requested to upgrade to game master...</p>



    {% endif %}
    
   
</div>

{% endblock %}

</body>
</html>