<!--
    Authors:
        - Kate Belson 
        
-->

{% extends 'base.html' %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Reported Comments</title>  
</head>  



{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}



{% block content %}

<h1 id="title">Reported Comments:</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}">


<div>
    {% if reports %}
            
        
        {% for report in reports %}
            
            <div class="challenge">
                
                    
                <h3> {{report.user.username}} reported this comment because: </h3>
                <br>
                <small>{{report.reason}}</small>
                <br>
                <h3>Comment: </h3>
                <br>
                <small>{{report.comment.text}} </small> <br>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="reportID", value="{{report.id}}">
                    <input type="hidden", name="commentID", value="{{report.comment.id}}">
                    <input type="Submit", value="Delete Comment">
                </form>

                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden", name="reportID", value="{{report.id}}">
                    <input type="Submit", value="Ignore">
                </form>

                
                <br>
            
            </div>

        {% endfor %}

   

        {% else %}

                <p>No Users have reported comments...</p>



    {% endif %}
    
   
</div>

{% endblock %}

</body>
</html>