<!--
    Authors:
        - Michael Hills
        - Kate Belson 
-->

{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    {% block filter %} {% include 'sidebar.html' %} {% endblock %} {% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'StyleSheet.css'%}">

    <h1>{{user.username}}'s Completed Challenges</h1>
    <h4>Total Points: {{user.profile.points}}</h4>

    <div>
      {% for response in responses %}
      <div class="challenge">
        <p>
          <a href="{% url 'challengeResponses' response.challenge.id%}"
            >{{response.challenge.name}}</a
          >
          | <small>{{response.challenge.points}}</small>
        </p>
        <img src="{{ response.photograph.url }}" alt="image" />
        <br>
        <small>{{response.description}}</small> <br>
        {% include 'like.html' %}

        <small>Comments: </small><br>
        <small><a href="{% url 'createComments' response.id %}">Add Comment</a></small>
       

        <hr>


            {% if not response.comments.all %}
            <small>No comments yet</small>
            {%else%}
            <small><a href="{% url 'viewComments' response.id %}">See All Comments</a></small>

            <div  style= "height: 100px; overflow-y: scroll;" >
            
                {% for comment in response.comments.all %}
                    
                    <small> <a  href="{% url 'userResponses' comment.user.id%}">{{comment.user}}</a> {{comment.text}} </small>
                    <br>

                {% endfor %}

            </div>

            {% endif %}


      </div>
      {% endfor %}
    </div>

    {% endblock %}
  </body>
</html>
