<Style>
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .challenge{
        width:70%
    }
</Style>

{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>Home Template</h1>

    
{% if request.user.is_authenticated %}

<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
<hr>


{%else %}
<a href="{% url 'login' %}">Login</a>
<hr>


{% endif %}

<div class="wrapper">

    <div class="filter">

        <div>
            <a href = "{% url 'home' %}">All</a>
        </div>
        {% for category in categories %}
        <div>
            <a href = "{% url 'home' %}?q={{category.name}} ">{{category}}</a>
        </div>
        {% endfor %}

    </div >
    <div class="challenges">
        <img src="{% static 'images/exeter.jpg' %}">
        <br>
        <a href="{% url 'createChallenge' %}">Add Challenge</a>
        {% for challenge in challenges %}
            <div class="challenge">
                <p>{{challenge.name}} <small>{{challenge.created | timesince}} ago</small></p>
                <small>Points: {{challenge.points}}</small><br>
                <small>{{challenge.description}}</small><br>


                <hr>
            </div>
        {% endfor %}
    <div>

    </div>


</div>
{% endblock %}


