<!DOCTYPE html>
<!--
    Authors:
        - Michael Hills
        - Kate Belson
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://app.termly.io/embed.min.js" data-auto-block="on" data-website-uuid="57e0bd66-084a-42b1-99ab-8e94c4ff7ba7" ></script>
    {% if title %}
    <title>UniExplore - {{ title }}</title>
    {% else %}
    <title>UniExplore</title>
    {% endif %}

    <title>Homepage</title>  
    <style>
        .wrapper{  
            display: grid;
            grid-template-columns: 1fr 3fr;
        }

        .content{
            width: 80%;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>  
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'UniExplore/style.css' %}">
<link rel="icon" href="/static/images/UniExploreLogo.png">
<link rel="stylesheet" href="{% static 'StyleSheet.css'%}"> 
<body>
<div class="app-title">
    <h1>UniExplore</h1>
</div>
{% if messages %}
{% for message in messages %}

<div class="alert alert-{{message.tags}}">
    {{message}}
</div>

{% endfor %}

{% endif %}

{% if request.user.is_authenticated %}

<p>Hello <a href="/profile">{{request.user.first_name}}</a></p>
<a href="{% url 'logout' %}">Logout</a>
<hr>


{%else %}
<a href="{% url 'login' %}">Login</a>
<hr>

<!-- <div class="logo">
    {% load static %}
    <img src="../static/images/UniExploreLogo.png" alt="Logo">
</div> -->
</body>


{% endif %}

<div class="wrapper">

    <div class="options">

        {% block filter %}
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    
</div>


<!--
<footer>
<div class="gdpr">
    <style>
        a {
            font-size: 12px;
            margin-bottom: 5px;
        }
    </style>
    <div>
        <button
        class="termly-cookie-preference-button"
        type="button"
        style="background: white; width: 165px; height: 30px; border-radius: 3px; border: 1px solid #5f7d9c; font-family: Roboto, Arial; font-size: 10px; color: #5f7d9c; font-weight: 600; box-sizing: border-box; cursor: pointer; padding: 0; outline: none;"
        onclick="displayPreferenceModal()">Manage Cookie Preferences</button>
        <br>
        <a href = "{% url 'ToS' %}" target=”_blank”>Terms of Service</a>
        <a href = "{% url 'privacy_policy' %}" target=”_blank”>Privacy Policy</a>
        <a href = "{% url 'cookie' %}" target=”_blank”>Cookie Policy</a>
    </div>
</div>
</footer>
-->

  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>