{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Homepage</title>  
</head>  
<Style>
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .challenge{
        width:70%
    }
</Style>

<head>
    <title>Homepage</title>
</head>
    
<h1>Home Template</h1> 

{% if request.user.is_authenticated %}

<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
<hr>


{%else %}
<a href="{% url 'login' %}">Login</a>
<hr>


{% endif %}

<div class="wrapper">

    <div class="filter">

        <div>
            <a href = "{% url 'home' %}">All</a>
        </div>
        {% for category in categories %}
        <div>
            <a href = "{% url 'home' %}?q={{category.name}} ">{{category}}</a>
        </div>
        {% endfor %}

        <hr>
        <br>
        <a href= "{% url 'myResponses' %}">Completed Challenges</a>

    </div >
    <div class="challenges">
        {{map|safe}}
        <br>
        <a href="{% url 'createChallenge' %}">Add Challenge</a>
        <hr>
        {% for challenge in challenges %}
            <div class="challenge">
                <p>{{challenge.name}} <small>{{challenge.created | timesince}} ago</small></p>
                <small><a href="{% url 'createResponse' challenge.id %}">Complete Challenge</a></small><br>
                <small>Points: {{challenge.points}}</small><br>
                <small>{{challenge.description}}</small><br>


                <hr>
            </div>
        {% endfor %}
    <div>

    </div>


</div>
{% endblock %}

</div>
</html>
