<Style>
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</Style>

{% extends 'base.html' %} {% block content %}


<h1>location_get_test</h1>


<div class="wrapper">
    <div>

        <div id="displaybox">

        </div>

    </div>
</div>

<script>
    var displaybox = document.getElementById("displaybox");

    // this function starts the location watcher
    function startLocator() {
        if (navigator.geolocation) {
            // watchposition ties a method to every time the user's location changes;
            // here it'll run showposition, using the getposition return values as the args
            navigator.geolocation.watchPosition(showPosition);

            // should note that watchposition has an option for a function to run in case of error
            // and also options: maximumAge, timeout, enableHighAccuracy. should use these.
        } else {
            displaybox.innerHTML = "geolocation is not supported by this browser";
        }
    }

    function showPosition(position) {
        // formatting location data
        var addedLoc = position.coords.latitude + ", " +
            position.coords.longitude +
            " at " + position.timestamp;

        // creating text and p elements
        var newloc = document.createTextNode(addedLoc);
        var pelem = document.createElement("p");

        // applying these to the displaybox 
        pelem.appendChild(newloc);
        displaybox.appendChild(pelem);
    }

    window.onload = startLocator();
</script>

{% endblock %}