<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>My Responses</title>  
</head>  

<h1>Responses</h1>
<p>Total Points: {{request.user.profile.points}}</p>

<div>
    {% for response in responses %}
            <div class="challenge">
                <p>{{response.challenge.name}} | <small>{{response.challenge.points}}</small></p>
                <small>{{response.description}}</small> <br>


                <hr>
            </div>
        {% endfor %}
</div>


</html>