{% extends 'base.html' %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">
    <title>{{user.username}}'s profile</title>
</head>

<body>


{% block filter %}

{% include 'sidebar.html' %}
    
{% endblock %}

{% block content %}

    <h4>TODO: Profile pic <!--{user.profile.picture}}--></h4>
    <h1>{{user.username}}'s profile</h1>
    <h4>Total Points: {{user.profile.points}}</h4>
    <h4>{{user.profile.bio}}</h4>

    {% if request.user.is_authenticated %}
    <a href="/profile_edit" class="button">Edit profile</a>
    {% endif %}

<div>
    {% for response in responses %}
        <div class="challenge">
            <p> <a href="{% url 'challengeResponses' response.challenge.id%}">{{response.challenge.name}}</a> | <small>{{response.challenge.points}}</small></p>
            <small>{{response.description}} </small> <br>


            <hr>
        </div>
    {% endfor %}
</div>

{% endblock %}

</body>


</html>