{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Responses</title>
</head>


{% block filter %}

{% include 'sidebar.html' %}

{% endblock %}


{% block content %}

<h1>Recent Activity</h1>

<div>
    {% for response in responses %}
    <div class="challenge">
        <h5><a href="{% url 'challengeResponses' response.challenge.id%}">{{response.challenge.name}}</a> | <small>{{response.challenge.points}}</small>
        </h5>
        <h5></h5><a href="{% url 'userResponses' response.user.id%}">{{response.user.username}}</a></h5><br>

        <small>{{response.description}} </small> <br>


        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}

</body>


</html>